
h1{
    text-align: center;
    color: red;
    font-size: 10rem;
}
p{
    font-size: 5rem;
}
@media(max-width:998px){
    html{
        font-size:55%;
    }
}
@media(max-width:768px){
    html{
        font-size: 45%;
    }
}
@media(max-width:558px){
    html{
        font-size: 35%;
    }
}
@media(max-width:358px){
    html{
        font-size: 25%;
    }
}
@media(max-width:300px){
    html{
        font-size: 22%;
    }
}
@media(max-width:2750px){
    html{
        font-size: 18%;
    }
}
@media(max-width:258px){
    html{
        font-size: 15%;
    }
}
@media(max-width:158px){
    html{
        font-size: 10%;
    }
}
@media(max-width:100px){
    html{
        font-size: 7%;
    }
}
@media(max-width:75px){
    html{
        font-size: 5%;
    }
}